/*
 * Kohana 3.x API Lookup
 *
 */


/* Google Web Fonts */
@import url(http://fonts.googleapis.com/css?family=Andika);

html 
{ 
	background: #000 url('http://michal.matyas.pl/f/g/b1.jpg') 50% 50% no-repeat fixed; 
	overflow: auto;
}

body 
{ 
	font-family: "Andika", "Helvetica", "Tahoma", "Liberation Sans", sans-serif; 
	font-size: 14px; 
	line-height: 20px; 
	max-width: 1200px;
	min-width: 960px;
	margin: 0 auto;
}

html, body 
{ 
	min-height: 100%; 
}

h1
{
	position: relative;
	margin: 20px 0;
}

h1 a
{
	display: block;
	background: url('kohana.png') 0 0 no-repeat;
	width: 200px;
	height: 70px;
	text-indent: -9999em;
}

h1 span
{
	display: block;
	position: absolute;
	top: 0;
	left: 225px;
	height: 70px;
	line-height: 70px;
	color: white;
}

.box
{
	background: rgba(0,0,0,0.5);
	color: white;
	padding: 20px;
	margin-bottom: 20px;
}

.search.box input
{
	width: 85%;
}

.search.box button
{
	float: right;
	width: 10%;
}

#api #loading
{
	height: 100px;
	margin: 20px auto;
	background: rgba(0,0,0,0.5) url('loader.gif') 50% 50% no-repeat;
}

/* 
 * Kohana API (userguide) styling 
 */
#api h3 
{ 
	font-size: 22px;
	line-height: 26px;
	border-bottom: 1px solid #31194d;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#api h3 small
{
	color: #888;
}

#api h3 a
{
	border-bottom: 0;
}

#api a
{
	color: #8555ba;
	border-bottom: 1px solid #31194d;
	text-decoration: none;
}

#api h4
{
	font-size: 16px;
	background: #8c6cb0;
	background: rgba(140, 108, 176, 0.5);
	color: white;
	padding: 5px 10px;
	margin: 0 -10px;

}

#api ul code
{
	color: #888;
}

#api ul strong
{
	font-weight: bold;
}

#api ul small
{
	color: #e8c3ff;
}

#api pre
{
	overflow: auto;
	font-family: "Lucida Sans Typewriter", "Droid Sans Mono", "Bitstream Vera Sans Mono", Monaco, "Andale Mono", Terminal, monospace;
}

#api ul
{
	list-style-type: none;
	margin: 20px 0;
}

/*
 * End of styling
 */

.footer
{
	text-align: center;
	color: white;
}

.footer a
{
	color: #e8c3ff;
	text-decoration: none;
}
